.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.right-sidenav {
  background: #311B92;
}

.right-sidenav-full {
  width: 20%;
}

.right-sidenav-pinned {
  width: 50px;
}

.top-toolbar {
  z-index: 999;
}

md-toolbar [md-icon-button] {
  margin-left: -13px;
}